<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Add Feedback</h1>
                </div>
                <form th:action="@{/feedback/add}"
                      th:method="post"
                      th:object="${feedbackModel}"
                      class="m-md-auto w-50 pb-3">
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <input th:field="*{description}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="description" aria-describedby="descriptionHelp"
                               name="description"/>
                        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="rating">Rating</label>
                        <input th:field="*{rating}"
                               th:errorclass="is-invalid"
                               type="number" class="form-control text-center" id="rating" aria-describedby="ratingHelp"
                               name="rating"/>
                        <small th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image_url">Image URL</label>
                        <input th:field="*{image_url}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="image_url" aria-describedby="image_urlHelp"
                               name="image_url"/>
                        <small th:if="${#fields.hasErrors('image_url')}" th:errors="*{image_url}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="client">Client</label>
                        <select th:field="*{client.username}"
                                th:errorclass="is-invalid"
                                class="form-select text-center" id="client" aria-describedby="clientHelp"
                                name="client">
                            <option th:each="client : ${availableClients}" th:value="${client.username}" th:text="${client.username}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('client.username')}" th:errors="*{client.username}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="product">Product</label>
                        <select th:field="*{product.productTitle}"
                                th:errorclass="is-invalid"
                                class="form-select text-center" id="product" aria-describedby="productHelp"
                                name="product">
                            <option th:each="product : ${availableProducts}" th:value="${product.productTitle}" th:text="${product.productTitle}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('product.productTitle')}" th:errors="*{product.productTitle}" class="text-danger">Error
                            message</small>
                    </div>
                    <button type="submit" class="btn btn-secondary">Add Feedback</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
