<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Add UserRole</h1>
                </div>
                <form th:action="@{/userrole/add}"
                      th:method="post"
                      th:object="${userRoleDto}"
                      class="m-md-auto w-50 pb-3">

                    <fieldset class="mb-3">
                        <legend>Choose userRole</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input th:field="*{role}"
                                       th:value="CLIENT"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="category"/>
                                <span>Client</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input th:field="*{role}"
                                       th:value="USER"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="category"/>
                                <span>User</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{role}"
                                       th:value="ADMIN"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="category"/>
                                <span>Admin</span>
                            </label>
                        </div>
                        <small th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
                               class="text-danger">Error message</small>
                    </fieldset>
                    <button type="submit" class="btn btn-secondary">Add userRole</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>